<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="5bd8d49d-b5fa-4c99-8765-bca02c0d8f57" Name="Installer" Language="1033" Version="1.0.0.0" Manufacturer="DigitalWellbeing" UpgradeCode="0e45f4d8-cf99-4044-919e-d77d3a192efd">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="Service" Guid="e538d51a-7ef2-4bcb-b715-4a360b44ccc3">
				<ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes"
                            Name="DigitalWellbeing"
                            DisplayName="Digital Wellbeing"
                            Description="This is a required service for monitoring your app usage."
                            Start="auto" Account="NT AUTHORITY\LocalSystem"
                            ErrorControl="ignore"
                            Interactive="no" />

				<ServiceControl Id="StartService"
										Start="install" Stop="both" Remove="uninstall"
										Name="DigitalWellbeing" Wait="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
